<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="OSGi BDT Repository"
            id="uk.co.brunella.osgi.bdt">
      </category>
      <view
            name="OSGi BDT Repository"
            icon="icons/req_plugins_obj.gif"
            category="uk.co.brunella.osgi.bdt"
            class="uk.co.brunella.osgi.bdt.plugin.views.RepositoryView"
            id="uk.co.brunella.osgi.bdt.plugin.views.RepositoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiCreate"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-create">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiDeploy"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-deploy">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiUndeploy"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-undeploy">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiList"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-list">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiManifestReader"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-manifest">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiTest"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-test">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="uk.co.brunella.osgi.bdt.tasks.OSGiBuild"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-build">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTypes">
      <antType
            class="uk.co.brunella.osgi.bdt.types.OSGiPath"
            library="lib/uk.co.brunella.osgi.bdt.support.jar"
            eclipseRuntime="false"
            name="osgi-path">
      </antType>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/uk.co.brunella.osgi.bdt.support.jar" eclipseRuntime="false">
      </extraClasspathEntry>
   </extension>
</plugin>
